.card {
  padding: 10px 30px 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px darkgrey;
  width: 70%;
}

.image {
  border-radius: 10px;
}

.card__left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 40%;
  gap: 20px;
}

.card__right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 60%;
  gap: 20px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 26px;
}

.incrementOrDecrement {
  font-family: 'Gochi Hand', cursive;
  font-size: 26px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid orangered;
  cursor: pointer;
  background-color: orange;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: darkgrey;
    border: 1px solid grey;
    opacity: 0.6;
  }
}

.add {
  font-family: 'Gochi Hand', cursive;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid orangered;
  cursor: pointer;
  background-color: orange;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.delete {
  font-family: 'Gochi Hand', cursive;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid orangered;
  cursor: pointer;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: right;
  gap: 5px;
  font-size: 26px;
}