@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gochi Hand', cursive;
  background-color: darkgrey;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  position: relative;
}

.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.logo {
  padding: 5px 10px;
}

.navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 24px;
  position: relative;
  margin-right: 20px;
}

.link {
  color: orange;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.active {
  color: orangered;
}

.footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-top: 1px solid black;
}

.navigation__footer {
  font-size: 14px;
  gap: 20px;
}

.made {
  font-size: 12px;
}

.section {
  width: 1200px;
  min-height: calc(100vh - 224.13px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.goods {
  border: 3px solid #FF4500FF;
  width: 20px;
  height: 20px;
  border-radius: 13px;
  background-color: #FFA500FF;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -20px;
}